.dashboard-admin {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.dashboard-admin h1 {
  line-height: 1.3;
  margin-bottom: 24px;
}

.lista-solicitacoes {
  display: flex;
  flex-direction: column;
  text-align: left;
}
